.projects .wrapper {
  position: relative;
  padding-bottom: 0;
}

.projects__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}
.projects__image {
  margin-top: auto;
  width: 100%;
  height: 100%;
  max-height: 370px;
}
.projects__col {
  justify-content: space-between;
}
.projects__title {
  margin-bottom: 60px;
}

@media (max-width: 1440px) {
  .projects__text {
    font-size: 13px;
  }
  .projects__image {
    max-height: 320px;
  }
}
