@import 'variables.scss';
@import 'mixins.scss';
@import 'scaffolding.scss';
@import 'fonts.scss';
@import 'visually-hidden.scss';
@import 'scrollbar.scss';

@import './blocks/wrapper.scss';
@import './blocks/nav.scss';
@import './blocks/aside.scss';
@import './blocks/button.scss';
@import './blocks/content.scss';
@import './blocks/title.scss';
@import './blocks/outline-button.scss';
@import './blocks/row.scss';
@import './blocks/col.scss';
@import './blocks/address.scss';
@import './blocks/articles-section.scss';
@import './blocks/socials.scss';
@import './blocks/tabs.scss';
@import './blocks/intro.scss';
@import './blocks/subtitle.scss';

//header
@import './blocks/header/header.scss';
@import './blocks/header/slider.scss';

//footer
@import './blocks/footer.scss';

//main
@import './blocks/main/limit.scss';
@import './blocks/main/calendar.scss';
@import './blocks/main/attractions.scss';
@import './blocks/main/news.scss';
@import './blocks/main/documents.scss';
@import './blocks/main/partners.scss';
@import './blocks/main/feedback.scss';

// news
@import './blocks/news/news.scss';

// norilsk
@import './blocks/norilsk/facts.scss';
@import './blocks/norilsk/facts-1.scss';
@import './blocks/norilsk/facts-2.scss';
@import './blocks/norilsk/norilsk-intro.scss';
@import './blocks/norilsk/adventure.scss';
@import './blocks/norilsk/monuments.scss';

// contacts
@import './blocks/contacts/center-intro.scss';
@import './blocks/contacts/crt.scss';
@import './blocks/contacts/projects.scss';
@import './blocks/contacts/operators.scss';
@import './blocks/contacts/emergency.scss';

// flora-fauna
@import './blocks/flora-fauna/nature.scss';
@import './blocks/flora-fauna/facts.scss';

// tourist
@import './blocks/tourist/useful.scss';
@import './blocks/tourist/route.scss';

// events
@import './blocks/events.scss';

// article
@import './blocks/article/article.scss';

@import 'colors.scss';

* {
  scroll-behavior: smooth;
}

.slick-track {
  display: flex !important;
}

.slick-list {
  overflow: hidden;
}
