@import './fonts.scss';

$bebas-bold: 'Bebas Neue Bold', sans-serif;
$bebas-regular: 'Bebas Neue Regular', sans-serif;
$bebas-book: 'Bebas Neue Book', sans-serif;
$bebas-thin: 'Bebas Neue Thin', sans-serif;

$manrope-regular: 'Manrope Regular', sans-serif;
$manrope-semibold: 'Manrope Semibold', sans-serif;

$blue: #26c9c9;
