.news {
  .slick-next::before {
    content: url('../img/news/arrows/arrow-right.svg') !important;
  }
  .slick-prev::before {
    content: url('../img/news/arrows/arrow-left.svg') !important;
  }
}

.news__nav {
  width: 40%;
}

.news__nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.news__rubric {
  cursor: pointer;
}

.news .articles-section__list {
  position: relative;

  .slick-arrrow {
    position: absolute !important;
    top: 0;
    right: 0;
  }
}
