.about__container {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 100px;
    svg {
        position: absolute;
        bottom: -15%;
        right: 0;
        width: 30%;
    }
}

.about__description {
    margin: 0;
    width: 50%;
}

.about__wrapper {
    position: relative;
    overflow: hidden;
}

.about__wrapper img:first-of-type {
    position: relative;
    z-index: 1;
    min-width: 128%;
}

.about__wrapper img:last-of-type {
    position: absolute;
    bottom: -5%;
    left: 3%;
    z-index: 2;

    width: 40%;
}

.about__description,
.about__image-small {
    animation: fadeInLeft 1.5s;
}

.about__svg,
.about__image-big {
    animation: fadeInRight 1.5s;
}