.tourist__container {
    display: flex;
    justify-content: space-between;
}

.tourist__column-1 {
    width: 40%;
}

.tourist__description {
    margin: 0;
}

.tourist__column-2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 50%;

    list-style: none;

    li {
        display: inline-block;
        text-align: center;
    }

    button {
        display: inline-block;
        width: 68px;
        height: 68px;
        border: none;
        border-radius: 50%;
        margin-bottom: 26px;

        cursor: pointer;
        transition: ease-in 0.08s;
    }

    button:hover {
        transform: scale(1.08);
        box-shadow: 
            inset 0 -10px 20px 0.15px rgba(0, 0, 0, 0.1),
            0 2px 5px 0 rgba(0, 0, 0, 0.2);
    }

    button:focus {
        outline: none;
    }

    button:active {
        box-shadow: inset 0 8px 10px 5px rgba(0, 0, 0, 0.2);
    }

    label {
        display: block;
    }
}

#eat {
    background: #FF8A49;

    animation: bounceIn 1.5s;
}

#housing {
    background: #F4B922;

    animation: bounceIn 1.5s;
}

#health {
    background: #01988F;

    animation: bounceIn 1.5s;
}

#other {
    background: #4394FF;

    animation: bounceIn 1.5s;
}

.tourist__container {
    margin-bottom: 8%;
}


.tourist__description {
    animation: fadeInLeft 1.5s;
}

.tourist__label {
    animation: fadeIn 3.5s;
}