.adventure__slider {
  width: 100%;
}

.adventure__slide {
  display: flex !important;
  min-height: 100% !important;
  height: 100%;
}

.adventure__image {
  height: 480px;
}

.adventure__title {
  margin-bottom: 40px;
}

.adventure__description {
  margin: 0;
}

.adventure__line {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .slick-dots {
    position: relative;
    bottom: -20px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

    li {
      margin: 0;
    }
    li:not(:first-child)::before {
      position: absolute;
      top: 45%;
      right: 40%;
      content: '';
      width: 1000px;
      height: 2px;
      background-color: #c1c1c1;
    }
    li button::before {
      z-index: -100;
    }
    li button {
      width: 9px;
      height: 9px;
      margin: 0 auto;
      margin-top: 5px;
      border-radius: 50%;
      background-color: #c1c1c1;
    }
    li:first-child button {
      margin: 0;
      height: 20px;
      width: 20px;
      background-image: url('../img/norilsk/1.1.svg');
      background-color: transparent;
    }
    li:not(:first-child).slick-active button {
      background-color: $blue;
    }
    .slick-active::before {
      background-color: $blue;
      z-index: 100;
    }
    .slick-active {
      z-index: 200;
    }
  }
}

.adventure__footer {
  align-items: center;
}

.adventure__arrows {
  display: flex;

  .slick-prev {
    margin-right: 50px;
  }
  .slick-prev::before {
    content: url('../img/arrows/arrow-left.svg');
  }
  .slick-next::before {
    content: url('../img/arrows/arrow-right.svg');
  }
}

.adventure__col-1 {
  width: 56%;
}

.adventure__col-2 {
  flex-direction: row;
  justify-content: space-between;
  width: 44%;
}

.adventure__title {
  margin-bottom: 60px;
}
.adventure__subtitle {
  margin: 0;
  margin-bottom: 40px;
}

.adventure__slide-col-1 {
  width: 56%;
}

.adventure__slide-col-2 {
  width: 44%;
}
