.norilsk-intro .intro__title {
  // font-size: 60px;
  // margin-bottom: 40px;
}

.norilsk-intro__ready {
  font-family: $manrope-regular;
  font-size: 21px;
  line-height: 150%;
  color: $blue;
}

.norilsk-intro__img--text {
  position: absolute;
  top: 0;
  align-self: center;
}

.norilsk-intro__img {
  margin-bottom: 40px;
}

.norilsk-intro__gates {
  display: inline-block;
  font-family: $manrope-semibold;
  font-size: 47px;
  line-height: 110%;
  color: $blue;
}

@media (max-width: 1600px) {
  .norilsk-intro__gates {
    font-size: 42px;
  }
}
@media (max-width: 1440px) {
  .norilsk-intro .intro__title {
    // font-size: 42px;
  }
  .intro__col {
    height: fit-content;
  }
  .norilsk-intro__img--text {
    width: 80%;
  }
  .norilsk-intro__gates {
    font-size: 38px;
  }
}
@media (max-width: 1200px) {
  .norilsk-intro__gates {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .norilsk-intro__img--text {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .norilsk-intro__img {
    margin-bottom: 0;
  }
  .norilsk-intro__gates {
    width: 100%;
    text-align: center;
    line-height: 110%;
  }
}
