.route .wrapper {
  padding-bottom: 0;
}

.route__container {
  display: flex;
  justify-content: space-between;
}

.route__text {
  width: 50%;
}

.route__map {
  margin-top: auto;
  width: 100%;
}

@media (max-width: 1440px) {
  .route__text {
    font-size: 14px;
    line-height: 150%;
  }
  .route__map {
    max-height: 385px;
  }
}
