@import '../../variables.scss';

.activities {
    max-width: 1905px;
    margin: 0 auto;
    // margin-top: 15%;

    overflow: hidden;
}

.activities__wrapper {
    // padding-right: 0;
}

.activities__title {
    margin-bottom: 8%;
}

.activities__container {
    display: flex;
    justify-content: space-between;
    // padding-right: 160px;
}

.activities__column-1 {
    display: flex;
    position: relative;
    right: 15%;
    padding-top: 5%;
    // width: 100%;
    height: 100%;
    justify-content: center;
}

// .activities__background {
//     position: absolute;
//     margin-left: -500px;
//     width: 45vw;
//     width: 750px;
//     height: 100%;

//     background-color: #213434;
//     z-index: 1;
// }

.activities__slider {
    position: relative;
    display: flex;
    // transform-origin: 50% 50%;
    // transform: translate(50%, 30%);
    // top: 50%;
    // left: 50%;

    padding: 0;
    margin: 0;
    
    width: 100%;
    width: 715px;
    min-height: 478px;
    // height: 478px;
    
    box-shadow: -20em 0 0 8em #213434;
    overflow: hidden;
    z-index: 2;
}

.activities__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    // height: 478px;
    // width: 715px;
    left: 0;
    margin: 0;

    list-style: none;

    transition: all ease-out 0.2s;

    img {
        width: 100%;
        height: 100%;
    }
}

.activities__slide-count {
    position: absolute;
    top: -3%;

    font-family: $font-fyl;
    font-size: 52px;
    line-height: 100%;
    color: #ffffff;
    text-shadow: 0 0 15px #000000;

    z-index: 3;
}

.activities__column-2 {
    position: relative;
    // right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;

    // flex-grow: 1;
    flex-shrink: 0;
}

.activities__slider-description {
    position: relative;
    padding: 0;
    
    margin: 0;
    height: 100%;

    list-style: none;
}

.activities__slide-description {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    background-color: #fff;

    // overflow: hidden;
}

.activities__slide-name {
    margin-bottom: 58px;

    font-size: 26px;
    line-height: 26px;
}

.activities__slide-text {
    // margin-bottom: 19%;
}

.activities__buttons {
    // margin-bottom: 100px;
}

.activities__link  {
    position: absolute;
    bottom: 15%;
    left: 0;
}


//Анимация
// .activities__slider,
// .activities__slide-count {
//     animation: fadeInLeft 1s;
// }

.activities__column-1 {
    animation: fadeInLeft 1.5s;
}

// .activities__column-2,
.activities__slide-name,
.activities__slide-text,
.activities__buttons {
    animation: fadeInRight 1.5s;
    animation-fill-mode: forwards;
}

.activities__link {
    animation: fadeInRight 1.5s;
}

span.button-text--activities {
    padding-right: 7%;
}
//Анимация первой колонки
// .activities__title {
//     // animation-name: activities;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
//     animation-delay: 1s;
    
//     opacity: 0;
//     transform: translateX(-100%);
// }

// @keyframes activities {
//     100% {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

// .activities__slider {
//     // animation-name: activities__slider;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
//     animation-delay: 1.5s;
    
//     opacity: 0;
//     transform: translate(-50%, 30%);
// }

// @keyframes activities__slider {
//     100% {
//         opacity: 1;
//         transform: translate(50%, 30%);
//     }
// }



// .activities__slide-count {
//      // animation-name: activities__slide-count;
//      animation-duration: 1s;
//      animation-fill-mode: forwards;
//      animation-timing-function: ease-out;
//      animation-delay: 1.5s;
//      right: 100%;
//      opacity: 0;
// }

// @keyframes activities__slide-count {
//     100% {
//         opacity: 1;
//         right: 1%;
//     }
// }



// .activities__pagination {
//     // animation-name: activities__pagination;
//     animation-duration: 1s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;

//     opacity: 0;
// }

// @keyframes activities__pagination {
//     50% {
//         opacity: 0;
//     }
    
//     100% {
//         opacity: 1;
//     }
// }


// //Анимация второй колонки

// .activities__slider-description,
// .activities__buttons {
//     // animation-name: activities__slider-description;
//     animation-duration: 2s;
//     animation-fill-mode: forwards;
//     animation-timing-function: ease-out;
//     animation-delay: 1s;
    
//     opacity: 0;
//     transform: translateX(100px);
// }

// .activities__buttons {
//     animation-delay: 1.5s;
// }

// @keyframes activities__slider-description {
//     100% {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }
