.partners {
    overflow: hidden;
}

.partners__container {
    display: flex;
}

.partners__list {
    display: grid;
    grid-template-columns: 286px 240px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 30px;
    row-gap: 110px;

    padding: 0;
    margin: 0;
    margin-right: 180px;

    list-style: none;
}

.partners__description {
    margin-bottom: 80px;
}

.partners__button span {
    color: #000000;
}

.partners__item:nth-child(odd) {
    animation: fadeInLeft 1.5s;
}

.partners__item:nth-child(even) {
    animation: fadeInRight 1.5s;
}

.partners__item:last-child {
    grid-column: 1 / -1;
}

.partners__item:nth-child(n) {
    filter: grayscale(100%) opacity(0.6);
    transition: filter 0.4s ease-out;
}

.partners__item:hover {
    filter: none;
}

.partners__item img {
    // display: inline;
    // width: 10em;
    // vertical-align: middle;
    // height: auto;
    // background-size: cover;
}

.partners__description,
.partners__button {
    animation: fadeInRight 1.5s;
}


@media (max-width: 1440px) {
    .partners__wrapper {
        padding-right: 150px;
    }

    .partners__list {
        row-gap: 80px;

        margin-right: 60px;
    }

    .partners__description {
        margin-bottom: 80px;

        font-size: 14px;
        line-height: 28px;
    }
}