@import '../../variables.scss';

.activities-header {
    background-image: url("../../../img/activities-page/bg-header.jpg");
}

.activities-header__nav {

}

.activities-header__nav-button {
    margin-right: 85px;
    padding: 0;

    font-family: $font-fyl;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;

    background-color: transparent;
    border: none;
}

.activities-header__nav-button--active {
    border-bottom: 2px solid #FFFFFF;
}



@media (max-width: 1366px) {
    .activities-header__nav-button {
        margin-right: 50px;

        font-size: 20px;
    }
}