@import '../../variables.scss';

.blog-header {
    background-image: url("../../../img/blog-page/bg-header.jpg");

    .header__wrapper {
        padding-top: 170px;
        padding-bottom: 170px;
    }
}
