@import '../../variables.scss';

.main-header {
    font-family: $font-fyl;
    color: #ffffff;
    height: 100vh;
}

.main-header__video {
    position: relative;
    // padding-bottom: 56.25%;
    height: 100%;

    overflow: hidden;
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}

.main-header__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;

}

.main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1905px;

    margin: 0 auto;
    padding-top: 257px;
    padding-right: 340px;
    padding-left: 310px;

    box-sizing: border-box;
}