.mun {
  overflow: hidden;
}

.mun__description {
  column-count: 2;
  column-gap: 5%;
  margin-bottom: 5%;
}

.mun__image {
  min-width: 130%;
}

.mun__description {
  animation: fadeInUp 1.5s;
}

.mun__image {
  animation: slideInRight 1.5s;
}