.main-footer {
    height: 865px;

    background: #EDEDED;
}

.main-footer__wrapper {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 248px;

    box-sizing: border-box;
}