@import '../variables.scss';

.main-tours__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 200px;
    padding-left: 310px;
}

.main-tours__column-1 {
    width: 415px;
    flex-shrink: 0;
}

.main-tours__title {
    font-family: $font-fyl;
    font-size: 52px;
    line-height: 80px;

    margin-bottom: 180px;
}

.main-tours__description {
    margin-bottom: 125px;
}

.main-tours__column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;

    width: 1055px;

    overflow: hidden;
}

.main-tours__more {
    align-self: flex-end;

    font-size: 20px;
    line-height: 120%;
    color: #000000;
    text-decoration: none;
    border-bottom: #000000 solid 1px;

    margin-right: 75px;
    margin-bottom: 67px;
}