.main-norilsk {
    margin-top: 250px;
}

.main-norilsk__wrapper {
    padding-left: 340px;
}

.main-norilsk__container {
    display: flex;

}

.main-norilsk__column-1 {
    max-width: 620px;
    margin-right: 95px;
}

.main-norilsk__column-2 {
    max-width: 620px;
}

.main-norilsk__description {
    margin-bottom: 140px;
}

.main-norilsk__photo-1 {
    margin-bottom: 46px;
}

.main-norilsk__photo-3 {
    margin-bottom: 193px;
}

.main-norilsk__button span {
    color: #000000;
}