@import '../variables.scss';

.main-activities__wrapper {
    padding-top: 295px;
    padding-left: 310px;
}

.main-activities__container {
    display: flex;
    padding-right: 160px;
}

.main-activities__column-1 {
    position: relative;
    display: flex;
    left: -500px;
    
}

.main-activities__background {
    position: relative;

    width: 865px;
    height: 761px;

    background-color: #213434;
    z-index: 1;
}

.main-activities__slider {
    display: flex;
    position: absolute;
    transform-origin: 50% 50%;
    transform: translate(50%, 30%);
    
    width: auto;
    
    z-index: 2;
}

.main-activities__slide {
    width: 715px;
    margin: 0;
}

p.main-activities__slide-count {
    position: absolute;
    top: -15px;
    left: 45%;

    font-family: $font-fyl;
    font-size: 52px;
    color: #ffffff;

    z-index: 3;
}

.main-activities__column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-activities__slider-description {
    padding: 0;
    margin: 0;

    list-style: none;
}

.main-activities__slide-name {
    margin-bottom: 58px;

    font-size: 26px;
    line-height: 26px;
}

.main-activities__slide-description p {
    margin-bottom: 100px;
}

.main-activities__buttons {
    margin-bottom: 100px;
}