.slider {
    display: flex;

    padding: 0;
    margin: 0;

    width: 1460px;
    height: auto;

    list-style: none;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    margin-right: 40px;

    & p {
        display: flex;
        margin: 0;
        margin-bottom: 35px;
    }
}

.slide__image {
    width: 460px;
    height: auto;
}

.slide__name {
    display: inline-block;

    font-size: 18px;
    line-height: 26px;

    margin-bottom: 27px;
}

.slide__price {
    font-size: 26px;
    line-height: 26px;
}

.slide__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.slide__link {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;

    border-bottom: 1px solid #000000;
    margin-bottom: 5px;

    transition: opacity 0.15s ease;

    &:hover {
        opacity: 0.7;
    }
}