@import '../../variables.scss';

.activities-header {
    background-image: url("../img/activities-page/bg-header.jpg");
}

.activities-header__nav {

}

.activities-header__nav-button {
    position: relative;
    margin-right: 85px;
    padding: 0;

    font-family: $font-fyl;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    color: #ffffff;

    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: transparent;
}

.activities-header__nav-button::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #ffffff;

    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.activities-header__nav-button:hover::after {
    transform: scaleX(1);
}

.activities-header__nav-button.active::after {
    transform: scaleX(1);
}



@media (max-width: 1366px) {
    .activities-header__nav-button {
        margin-right: 50px;

        font-size: 20px;
    }
}