.header {
  position: relative;
  height: 1009px;
  // height: 100vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .header {
    height: 100vh;
  }
}
