@import '../../variables.scss';

.header {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;

    min-height: 100vh;

    font-family: $font-fyl;
    color: #ffffff;

    overflow: hidden;
}

.header__content {
    height: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1905px;

    // margin: 0 auto;
    padding: 8% 18%;

    box-sizing: border-box;
}

.header__title {
    font-family: $font-fyl;
    font-size: 69px;
    line-height: 40px;
    font-weight: normal;
    text-shadow: 0 0 2px black;

    color: #ffffff;
}

.header__description {
    font-family: $font-montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-shadow: 0 0 5px black;

    max-width: 400px;
}

.header__icon {
    margin-top: 30%;
    
    span {
        padding-left: 20px;
        vertical-align: 35%;
        text-shadow: 0 0 5px #000000;
    }
}

.header__column-2 {
    width: 30%;
    align-self: start;
    padding-top: 11%;
}

.header__button {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    // height: 100px;
    // width: 20%;
    
    text-decoration: none;

    span {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        text-shadow: 0 0 2px black;
    }
}

// Анимация

//Анимация слогана
.header__title,
.header__description {
    animation-name: header__title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
    transform: translateX(-150px);

    &:nth-child(2) {
        animation-delay: 1.0s;
    }
}

.header__description {
    animation-delay: 0.7s;
}

@keyframes header__title {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}



//Анимация иконки мыши
.header__icon {
    animation-name: header__icon;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 1.0s;

    opacity: 0;
    // transform: translateX(-150px);
}

@keyframes header__icon {
    100% {
        opacity: 1;
        // transform: translateX(0px);
    }
}

.header__icon-wheel {
    animation-name: header__icon-wheel;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes header__icon-wheel {
    90% {
        transform: translateY(5px);
    }
    
    100% {
        transform: translateY(5px);
    }
}



@media (max-width: 1366px) {
    .header__wrapper {
        padding: 4% 18%;
    }

    .header__title {
        font-size: 59px;
        line-height: 40px;
    }
}