@import '../../variables.scss';

.slider {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -100;
}

.slide {
  position: relative;
  // width: 100%;
}
.slide__img {
  height: 1009px;
}
.slide__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 48%;
  left: 436px;
  right: 158px;
  // width: 100%;

  z-index: 1;
}
.slide__it {
  margin: 0;
  font-family: $bebas-bold;
  font-size: 80px;
  line-height: 80px;
}
.slide__definition {
  margin: 0;
  font-family: $bebas-thin;
  font-size: 80px;
  line-height: 80px;
}
.slide__floating {
  display: none;
  position: absolute;
  padding: 58px 0;
  margin-top: 280px;
  top: 0;
  font-family: $bebas-bold;
  font-size: 110px;
  opacity: 0.15;
  z-index: 2;

  transition: ease 0.5s;
  opacity: 0;
}

.slide__floating--animate {
  display: block;
  animation-name: slide__floating;
  animation-duration: 7s;
  // animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes slide__floating {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.slider__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
}

.slider__count {
  justify-self: center;
}

.slider__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 18px;
  width: 100px;
}

.slider__count--current {
  font-size: 28px;
}

.slick-prev::before {
  content: url('../../../img/main/main-header/arrow-left.svg');
}
.slick-next::before {
  content: url('../../../img/main/main-header/arrow-right.svg');
}
