.contacts__intro .wrapper {
  padding-bottom: 0;
}
.contacts__intro-text {
  width: 100%;
  margin-bottom: 100px;
  column-count: 2;
  column-gap: 45px;
  font-size: 16px;
  line-height: 150%;
}
.contacts__intro-image {
  margin-top: auto;
  height: auto;
  max-height: 430px;
}

@media (max-width: 1440px) {
  .contacts__intro-image {
    max-height: 340px;
  }
}
