@import '../../variables.scss';

.center {
    margin-top: 295px;
    overflow: hidden;
}

.center__wrapper {
    padding-left: 340px;
    padding-right: 230px;

    max-width: 1335px;
    margin: 0 auto;
}

.center__container {
    display: flex;
    justify-content: space-between;

}

.center__column-1 {
    max-width: 620px;
    margin-right: 90px;
}

.center__column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center__image {
    margin-bottom: 115px;
}

.center__button {
    margin-top: 60px;

    span {
        color: #000000;
    }
}

.center__stats {
    border-collapse: collapse;

    td {
        padding-top: 54px;
        padding-bottom: 32px;
    }
}

.center__stats tr:not(:last-of-type) {
    td {
        border-bottom: 2px solid #000000;
    }
}

.center__stats-value {
    font-family: $font-fyl;
    font-size: 44px;
    line-height: 80px;

    width: 60%;
}

.center__stats-field {
    font-size: 16px;
    line-height: 26px;
}



// Анимация

//Анимация первой колонки
.center__pagination {
    // animation-name: center__pagination;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
}

@keyframes center__pagination {
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.center__description--1,
.center__button {
    // animation-name: center__description--1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    
    opacity: 0;
    transform: translateX(-100%);
}

.center__button {
    animation-delay: 0.5s;
}

@keyframes center__description--1 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

//Анимация второй колонки
.center__description--2 {
    opacity: 0;
    transform: translateX(100%);

    // animation-name: center__description--2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes center__description--2 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}