@import '../../variables.scss';

.center {
    overflow: hidden;
}

.center__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}

.center__image {
    max-width: 48%;
    height: auto;
    margin-right: 90px;
}

.center__button {
    margin-top: 60px;

    span {
        color: #000000;
    }
}

.center__stats {
    border-collapse: collapse;

    td {
        padding-top: 54px;
        padding-bottom: 32px;
    }
}

.center__stats tr:not(:last-of-type) {
    td {
        border-bottom: 2px solid #000000;
    }
}

.center__stats-value {
    font-family: $font-fyl;
    font-size: 44px;
    line-height: 80px;

    width: 60%;
}

.center__stats-field {
    font-size: 16px;
    line-height: 26px;
}

.center__description {
    margin: 0;

    column-count: 2;
    column-gap: 70px;
}

.center__button {
    display: inline-block;
}

// Анимация

//Анимация первой колонки
.center__pagination,
.center__description {
    // animation-name: center__pagination;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
}

.center__description {
    animation-delay: 0.5s;
}

@keyframes center__pagination {
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.center__button {
    // animation-name: center__button;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    
    opacity: 0;
    transform: translateX(-100%);
}

.center__button {
    animation-delay: 0.5s;
}

@keyframes center__button {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

//Анимация второй колонки
.center__description--2 {
    opacity: 0;
    transform: translateX(100%);

    // animation-name: center__description--2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes center__description--2 {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 1440px) {
    .center__container {
        margin-bottom: 85px;
    }

    .center__stats td {
        padding-top: 54px;
        padding-bottom: 32px;

        padding-top: 28px;
        padding-bottom: 20px;
    }

    .center__stats-value {
        font-family: $font-fyl;

        font-size: 44px;
        line-height: 80px;

        font-size: 38px;
        line-height: 80px;
    
        width: 60%;
    }

    .center__description {
        column-gap: 40px;
    }
}

