@import '../../variables.scss';

.emotions {
    margin-top: 295px;

    background-image: url('../../img/main-page/emotions/1.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 687px;
} 

.emotions__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 216px 340px;
}

.emotions__column-1 {
    flex-shrink: 0;
}

.emotions__column-2 {
    width: 525px;
}

.emotions__description {
    font-size: 20px;
    color: #ffffff;

    margin-bottom: 27px;
}