@import '../../variables.scss';

.tours {
    overflow: hidden;
}

.tours__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 200px;
    padding-left: 310px;

    max-width: 1905px;
    margin: 0 auto;
}

.tours__column-1 {
    width: 415px;
    flex-shrink: 0;
}

.tours__title {
    font-family: $font-fyl;
    font-size: 52px;
    line-height: 80px;

    margin-bottom: 180px;
}

.tours__description {
    margin-bottom: 125px;
}

.tours__column-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;

    width: 1055px;

    
}

.tours__more {
    align-self: flex-end;

    font-size: 20px;
    line-height: 120%;
    color: #000000;
    text-decoration: none;
    border-bottom: #000000 solid 1px;

    margin-right: 75px;
    margin-bottom: 67px;
}


// Анимация

//Анимация первой колонки
.tours__title,
.tours__description,
.tours__buttons {
    // animation-name: tours;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    
    opacity: 0;
    transform: translateX(-70px);
}

.tours__description {
    animation-delay: 1.5s;
}

.tours__buttons {
    animation-delay: 2s;
}

@keyframes tours {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.tours__pagination {
    // animation-name: tours__pagination;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
}

@keyframes tours__pagination {
    50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}


//Анимация второй колонки
.tours__slider-block{
    opacity: 0;
    transform: translateX(100%);

    // animation-name: tours__slider-block;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes tours__slider-block {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.tours__more {
    opacity: 0;

    // animation-name: tours__pagination;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 3s;
}