@import '../variables.scss';

.aside {
  position: relative;
  z-index: 101;
  // top: 0;
  // left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  padding-top: 37px;
  padding-bottom: 96px;
  width: 280px;

  border-right: 1px solid rgba(36, 36, 36, 0.2);

  &--header {
    border-right: 2px solid rgba(#ffffff, 0.4);
  }

  z-index: 100;
}

.aside__scroll-indicator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 255px;

  .scroll-indicator__line {
    height: 170px;
    width: 2px;
  }
}

.aside__socials a {
  font-family: $manrope-regular;
  font-size: 18px;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}
