@import '../variables.scss';

.button {
  position: relative;
  display: block;
  padding: 18px 45px;
  width: fit-content;

  font-family: $manrope-semibold;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #000;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 30px;

    background-color: $blue;

    transition: ease 0.2s;
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
  }
  &:focus {
    border: 2px solid #2be4e4;
    border-radius: 30px;
    outline: inherit;
  }
}

.button--submit {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: inherit;
}

@media (max-width: 1600px) {
  .button {
    padding: 14px 38px;
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .button {
    padding: 14px 38px;
    font-size: 13px;
    line-height: 120%;
  }
}
@media (max-width: 1366px) {
  .button {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 110%;
  }
}
@media (max-width: 460px) {
  .button {
    padding: 11px 30px;
    margin-right: 100%;
    @include text-mobile;
  }
}
