.col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  min-height: 100%;
  margin: 0;
  // height: fit-content !important;
}

.col:not(:last-child) {
  margin-right: 40px;
}
