.footer {
  background-image: url('../img/footer.jpg');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer__wrapper {
  flex-direction: column;
  justify-content: center;
}

.footer__nav {
  margin-top: auto;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 70px;

  .footer__pagename {
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
  }
  li {
    color: #fff;

    a {
      position: relative;
    }
    a::after {
      position: absolute;
      content: '';
      bottom: -4px;
      left: 0;

      width: 100%;
      height: 3px;
      background-color: $blue;

      transform: scaleX(0);
      transition: 0.2s;
    }
    a:hover::after {
      transform: scaleX(1);
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

.footer__policy {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  li {
    color: #fff;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
}
