.intro__title {
  span:not(:last-child) {
    display: block;
    margin-bottom: 0px;
  }

  span:nth-child(2) {
    color: $blue;
  }
  margin-bottom: 60px;
  line-height: 100%;
}

.intro__col {
  position: relative;
  width: 50%;
  height: auto;
}

.intro__text {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

.intro__img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: -20%;
}

@media (max-width: 1600px) {
  .intro__text {
    font-size: 16px !important;
  }
}
@media (max-width: 1440px) {
  .intro__text {
    margin-bottom: 40px;
    font-size: 14px !important;
  }
  .intro__title {
    margin-bottom: 40px;
  }
  .intro__img:nth-child(1) {
    margin-bottom: 30px;
  }
  .intro__img:nth-child(2) {
    width: 50%;
    left: -10%;
  }
}
@media (max-width: 1200px) {
  .intro__text {
    font-size: 12px !important;
  }
}
@media (max-width: 900px) {
  .intro__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .intro__col {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .intro {
    min-height: 0;
  }
  .intro__title {
    margin-bottom: 20px;

    span:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .intro__text {
    margin-bottom: 40px;
    width: 100%;
  }
  .intro__col {
    display: block;
    width: 100%;
  }
  .intro__col:nth-child(2) {
    margin-bottom: 0;
  }
  .intro__img:nth-child(1) {
    margin-left: 0%;
    margin-bottom: 0;
    width: 100%;
  }
  .intro__img:nth-child(2) {
    width: 30%;
    left: 20%;
    bottom: 0;
  }
}
