@import '../variables.scss';

.link-arrow {
    display: flex;
    align-items: center;
    justify-content: start;

    // width: 20%;

    text-decoration: none;
    color: #000000;

    background-color: transparent;
    border: none;
    cursor: pointer;

    

    span {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
    }

    span,
    path {
        transition: ease-in 0.1s;
    }

    &:hover span,
    &:hover path {
        color: #cccccc;
        fill: #cccccc;
    }
}