@import '../variables.scss';

.nav {
  margin-bottom: 150px;
  display: flex;
  align-self: start;
  justify-content: space-between;
  width: 100%;
}

.nav__items,
.nav__lang,
.nav__phone,
.nav__col {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;

  list-style: none;

  a:nth-child(n),
  li {
    position: relative;

    font-family: $manrope-regular;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
  }
}

.eye {
  margin-right: 20px;
}

.nav__items {
  width: 770px;

  li {
    a::after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;

      width: 100%;
      height: 2px;
      background-color: #ffffff;

      transform: scaleX(0);
      transition: 0.2s;
    }

    a:hover::after {
      transform: scaleX(1);
    }
  }
}

.nav__lang {
  width: 80px;

  a {
    opacity: 0.5;
    transition: 0.2s;
  }

  a:hover {
    opacity: 1;
  }

  a.active {
    opacity: 1;
    // border-bottom: #ffffff solid 2px;
  }
}

.nav__phone {
  text-shadow: 0 0 2px black;
}

@media (max-width: 1366px) {
  .nav {
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav__items {
    margin-right: 100px;
  }
}
