@import '../variables.scss';

.outline-button {
  display: block;
  padding: 18px 45px;

  font-family: $manrope-regular;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 30px;
  transition: ease 0.4s;

  &:hover {
    border-color: $blue;
  }
}
