.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.row--center {
  align-items: center;
}

.row--slider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  // margin-bottom: 0;

  .slick-arrow {
    width: 57px;
    height: 57px;
  }
  .slick-next::before {
    content: url('../img/arrows/arrow-right.svg') !important;
  }
  .slick-prev::before {
    content: url('../img/arrows/arrow-left.svg') !important;
  }
  .slick-prev {
    left: -15%;
  }
  .arrows {
    display: flex;
  }
}

.h-100 {
  height: 100%;
}

@media (max-width: 1440px) {
  .row {
    margin-bottom: 40px;
  }
}
@media (max-width: 1366px) {
  .row {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .row {
    margin-bottom: 0;
  }
}
