// @import '../variables.scss';

.title {
  margin: 0;
  font-family: $bebas-thin;
  font-size: 72px;
  // margin-bottom: 100px;
}

@media (max-width: 460px) {
  .title {
    margin: 20px 0;
    font-size: 34px;
    line-height: 120%;
    letter-spacing: 2px;
  }
}
