@import '../variables.scss';

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 100px 158px 95px 440px;
  padding: 100px 150px 95px 350px;

  z-index: 100;

  box-sizing: border-box;
}

.wrapper--norilsk {
  padding: 200px 158px 0px 440px;
}

.wrapper--column {
  flex-direction: column;
  justify-content: start;
}

.wrapper--center {
  justify-content: center;
}

@media (max-width: 1600px) {
  .wrapper {
    padding: 100px 125px 95px 325px;
  }
}
@media (max-width: 1440px) {
  .wrapper {
    padding: 100px 110px 70px 310px;
  }
}
@media (max-width: 1366px) {
  .wrapper {
    padding: 100px 110px 70px 310px;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 100px 50px 50px 200px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
    padding: 52px 16px;
  }
}
@media (max-width: 460px) {
  .wrapper {
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    padding: 52px 16px;
    padding-top: 0;
  }
}
