@import '../../variables.scss';

.attractions__wrapper {
  position: relative;
}

.attractions__more {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  width: 100%;
}

.attractions__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-auto-columns: auto;
  // grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  width: 100%;
}

.attractions__cards {
  position: relative;
  z-index: 1;
}

.attractions__more {
  position: absolute;
  top: 0;
  z-index: 0;
}

.attractions__text {
  display: none;
  grid-column-start: 2;
  grid-column-end: 5;
}
.attractions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.attractions__card--hide {
  display: none;
}

.attractions__card--opened {
  grid-column-start: 1;
  grid-column-end: 2;

  .attractions__img {
    height: 560px;
  }
  figcaption {
    display: none;
  }
}
.attractions__card--animate {
  display: none;
  animation-name: 'attractions-animate';
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.attractions__text {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
}

.attractions__img {
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.attractions__card-title {
  margin: 0;
  margin-bottom: 15px;
  font-family: $manrope-semibold;
  font-size: 22px;
  line-height: 110%;
}

.attractions__desc {
  margin: 0;
  margin-bottom: 30px;
  font-family: $manrope-regular;
  font-size: 14px;
  line-height: 150%;
}

.attractions__button {
  margin-top: auto;
}

@media (max-width: 1600px) {
  .attractions__img {
    margin-bottom: 15px;
    height: 210px;
  }
  .attractions__card-title {
    font-size: 18px;
  }
  .attractions__desc {
    margin-bottom: 15px;
  }
  // .attractions__text p {
  //   max-height: 60vh;
  //   overflow: auto;
  // }
}
@media (max-width: 1440px) {
  .attractions__card {
    width: 100%;
  }
  .attractions__card-title {
    font-size: 16px;
  }
  .attractions__desc {
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1366px) {
  .attractions__img {
    margin-bottom: 15px;
    height: 180px;
  }
}
@media (max-width: 1200px) {
  .attractions__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .attractions__card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  .attractions__title {
    width: 60%;
  }
  .attractions__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .attractions__card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 460px) {
  .attractions__title {
    width: 100%;
  }
  .attractions__container {
    position: relative;
    height: 100%;
  }
  .attractions__card {
    flex-shrink: 0;
    width: 75vw;
  }
  .attractions__card:nth-child(3),
  .attractions__card:nth-child(4) {
    display: flex;
  }
  .attractions__img {
    height: 150px;
  }
  .attractions__card-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 120%;
  }
  .attractions__desc {
    margin-bottom: 20px;
    @include text-mobile;
    font-size: 12px;
  }
  .attractions__cards {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
    max-width: 100vw;
    overflow-x: auto;
  }
  .attractions__cards--opened {
    // grid-template-columns: 1fr;
  }
  .attractions__card {
    height: 100%;
  }
  .attractions__button {
    margin-top: auto;
  }
  .attractions__card--opened {
    width: 100%;
    .attractions__img {
      max-height: 180px;
    }
  }
  .attractions__more {
    position: relative !important;
    // top: -150px;
  }
  .attractions__text {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .attractions__wrapper {
    height: fit-content;
  }
}

@keyframes attractions-animate {
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
