@import '../../variables.scss';

.documents {
  position: relative;
  background-image: url('../../../img/main/documents/1.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.documents__content {
  display: flex;
  flex-direction: column;
}

.documents__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 100px 100px;
  // column-gap: 80px;
  row-gap: 200px;
  // padding: 0;
  margin: 0;
  width: 100%;
}

.documents__item {
  position: relative;
  font-family: $manrope-regular;
  font-size: 18px;
  line-height: 150%;
  list-style: none;
  width: 325px;

  a {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    content: url('../../../img/main/documents/2.svg');
    width: 22px;
    height: 26px;
    top: 0;
    left: -40px;
  }
}

.documents__archive {
  margin-top: auto;
  font-family: $manrope-semibold;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 400px) {
  .documents {
    .outline-button {
      position: absolute;
      bottom: 0;
    }
  }
  .documents__list {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  .documents__item {
    padding-left: 25px;
    width: auto;
    font-size: 12px;
    line-height: 150%;

    &::before {
      width: 12px;
      left: 0px;
    }
  }
  .documents__item:nth-last-child(1),
  .documents__item:nth-last-child(2) {
    display: none;
  }
  .documents__archive {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 60%;
    font-size: 12px;
    line-height: 120%;
  }
}
