@import '../../variables.scss';
@import '../../mixins.scss';

.feedback {
  background-image: url('../img/main/feedback/1.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.feedback__wrapper {
  display: grid;
  // grid-template-rows: fit-content(50px) auto fit-content(50px);
  grid-template-columns: repeat(3, 1fr);
  // grid-row-gap: 5%;
  // align-items: center;
  grid-template-columns: 1fr;
}

.feedback__title {
  white-space: nowrap;
  line-height: 120%;
  margin-bottom: 30px;
}

.feedback__text {
  margin: 0;
  color: #ffffff;
}

.feedback__form {
  display: grid;
  grid-template-areas:
    'ta ta tn'
    'ta ta tp'
    'ta ta tb';
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100%;
  max-height: 300px;

  input,
  textarea {
    padding: 23px 40px;
    font-family: $manrope-regular;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    vertical-align: top;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    border-radius: 20px;

    &:focus {
      outline: none;
    }
  }
  input::placeholder,
  textarea::placeholder {
    color: #ffffff;
  }
}

.feedback__textarea {
  grid-area: ta;
}

.feedback__input[type='name'] {
  grid-area: tn;
}

.feedback__input[type='tel'] {
  grid-area: tp;
}

.feedback__button {
  margin-top: 50px;
  min-height: 50px;
  grid-area: tb;
  background-color: transparent;
  border: none;
}

.feedback__address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .address__item {
    margin: 0;

    &::before {
      top: 2px;
    }
  }
}

.feedback__desc {
  @include text;
  margin: 0;
  width: 60%;
}

@media (max-width: 1440px) {
  .feedback .row {
    margin-bottom: 90px;
  }

  .feedback__form {
    span,
    input,
    input::placeholder {
      font-size: 12px;
      line-height: 150%;
    }
  }
  .feedback__desc {
    font-size: 12px;
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .feedback {
    .row {
      margin-bottom: 20px;
      display: block;
    }
  }
  .feedback__desc {
    @include text-mobile;
    margin-bottom: 20px;
  }
  .feedback__form {
    flex-direction: column;
    justify-content: start;
    height: auto;

    span,
    input,
    input::placeholder {
      @include text-mobile;
    }
    input {
      padding-left: 0;
      margin-bottom: 5vh;
    }
    .col-1,
    .col-2 {
      justify-content: start;
      width: 100%;
      margin-bottom: 0;
    }
    .col-2 {
      margin-bottom: 39px;
    }
  }
  .feedback__button {
    margin-bottom: 20px;
  }
}
@media (max-width: 460px) {
  .feedback__form {
    flex-grow: 1;
  }
}
