.news {
  position: relative;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  // grid-template-rows: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(200px, 250px));
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media (max-width: 460px) {
  .news {
    .wrapper {
      justify-content: space-between;
    }
  }
}
